.cart {
    padding: 150px 10px;
}

.cart-detail {
    display: flex;
    gap: 50px;
}

.prices {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
}

.restaraunt {
    padding-top: 10px;
}

.name {
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
}

.name h2 {
    font-size: 20px;
}

.minus {
    display: flex;
    padding-top: 20px;

    justify-content: center;
    align-items: center;
}

.minus div {
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: rgb(206, 205, 205);
    margin: 10px 10px;
    height: 30px;
    align-items: center;
    border-radius: 5px;
    color: white;
}


.minus button {
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: 0;

}

.cart-content {
    display: flex;
    gap: 250px;
}

.empty {
    text-align: center;

}

.sum {
    width: 400px;
    height: 200px;
    border: 2px solid gray;
    border-radius: 10px;

    padding: 20px;
    position: fixed;
    right: 20%;
    top: 40%;
}


.count {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.all-sum {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.all-sum span {
    color: gray;
}

.clearance {
    width: 100%;
    margin-top: 10px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    transition: .2s ease-in-out all;
}

.clearance:active {
    background-color: rgb(203, 198, 198);
}