.header {
    background-color: #1e293b;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-left h2 {
    font-weight: 500;
    font-size: 25px;
    color: #f8fafc;
}

.header-left form {
    width: 390px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 23px;
    padding: 10px;
    height: 50px;
    background-color: #0f172a;
}

.header-left form i {
    color: white;
    font-size: 20px;
}

.header-left form input {
    background-color: transparent;
    border: 0;
    outline: 0;
    color: white;
    font-weight: 600;
}

.header-right {
    display: flex;
    gap: 15px;
}

.header-right i{
    color: #f8fafc;
    font-size: 18px;
    cursor: pointer;
}